*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: cursive;
    background-color: #98e9d0;
    font-size: 14px;
    width: 100%;
}
.contenedor{
    display: flex;
}
header{
    margin-top: 2%;
}
header .titulo{
display: inline;
position: relative;
left: -40px;
top: -10px;
}

.inText{
    border: 1px solid black;
    width: 60%;
    margin-left: 5%;
    height: auto;
    
    justify-content: center;
    margin-top: 2%;
    padding: 1%;
    flex-flow: column wrap;
}
#area{
    width: 100%;
    max-width: 100%;
    max-height: 250px;
    height: 250px;
    background: rgb(255, 255, 255, 20%);
    margin-top: 1%;
    resize: none;
}
.outText{
    border: 1px solid black;
    width: 25%;
    margin-right: 5%;
    margin-left: 5%;
    height: 100%;
    background: rgb(255, 255, 255,25%);
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    padding: 1%;
}
#encriptado{
    text-align: center;
}
#area1{
    width: 100%;
    max-width: 100%;
    max-height: 250px;
    
}
.outText img{
    width: 100%;
}
.notfound{
    text-align: center;
    font-size: 16px;
}
.botones{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    flex-flow: wrap;
}
.btn1{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid black;
    width: auto;
    
}
.btn2{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid black;
    width: auto;
}
#btn3{
    margin-top: 2%;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid black;
    width: 100%
    
}
.btn1:active{
    box-shadow: 2px 2px 5px #fc894d;
    transform: scale(1.01);
}
.btn2:active{
    box-shadow: 2px 2px 5px #fc894d;
    transform: scale(1.01);
}
.btn3:active{
    box-shadow: 2px 2px 5px #fc894d;
    transform: scale(1.01);
}
footer{
    background: lightgray;
    margin: 2%;
    border-radius: 20px;
    height: auto;
    }
    @media only screen and (max-width: 600px) {
        body {
          background-color: lightblue;
        }
        .contenedor{
            flex-direction: column;
            align-items: center;
        }
        .outText{
            width: 50%;
            margin-top: 2%;
        }
        header .titulo{
        display: none;
        }
      }